<% layout("/layouts/boilerplate") %>

   <div class="row row-col-lg-4 row-col-md-3 row-col-sm-2">
    <h3>Top mentors</h3>
    <% for(let listing of allListings) { %>
    <div class="card listing-card" style="width: 22rem;">
      <img src="<%= listing.image %>" class="card-img-top" alt="card-img" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title"><%= listing.name %></h5>
        <p class="card-text"><%= listing.bio %></p>
        <a href="/listings/<%= listing._id %>" class="btn btn-primary">more details</a>
      </div>
    </div>
    <% } %>
  </div>